<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paypal Node App</title>
</head>
<body>
    <h1>Ranjha Bakery</h1>
    <h2>Cocomo</h2>
    <h3>Buy for $25</h3>
    <form action="/pay" method="post">
        <input type="submit" value="Buy">
    </form>
</body>
</html>